body{
    margin: 0dvh ;
}
.box{
    width: 30%;
    height: 100px;
    border: 1px solid black;
    float: left;
    margin-left: 3%;
}
.bg-primary{
    background-color: blue;
}
.bg-danger{
    background-color: orangered;
}