
*{
    margin: 0;
}

body{
    background-color: black;   
}

h1{
    color: white;
}
.row{
    width: 70%;
    display: flex;
    border: 1px solid white;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.col{
    width: 30%;
    min-height: 600px;
    border: 1px solid black;
    background-color: white;
}

.card-header{
    width: 100%;
    height: 100px;
    
}

.bg-secondary{
    background-color: gray;
}
.bg-danger{
    background-color: red;
}

img{
    width: 100%;
    height: 300px;
}

.card-header h2{
    text-align: center;
    font-size: 30px;
    color: white;
}


.card-title{
    text-align: center;
    margin-top: 20px;
    
}

.card-body ul{
    list-style: none;
    line-height: 30px;
}

.btn{
    background-color: red;
    color: white;
    padding: 10px;
    
}

.card-footer{
    display: flex;
    justify-content: center;
}

/* .row .col:nth-child(1),:nth-child(3){
    background-color: grey;
}


.row .col:nth-child(2){
    background-color: red;
}   */
